In [1]:
# Single line comments
"""
multi
line
comments
"""
'''
multi
line
comments
'''

'\nmulti\nline\ncomments\n'

### print statement:
```python
syntax:
    (*objects, sep=' ', end="\n") -> None
```

In [3]:
print("abcd", 123234, 234523,4.2322, 3.22, 'd', 'shjdff', sep='-')

abcd-123234-234523-4.2322-3.22-d-shjdff

In [10]:
print("Sarla likes apple", end=", ")
print("Apples are red", end=". ")
print("An Apple is good for health")

Sarla likes apple, Apples are red. An Apple is good for health

In [11]:
print("\"Hello World!\"")
print('"""Hello World!"""')
print("\"\"\"Hello World!\"\"\"")
print(""""Hello 
      World!""")

"Hello World!"
"""Hello World!"""
"""Hello World!"""
"Hello
      World!

# Data Types
---

1. Text: str
1. Numeric: int, float, complex(117j)
1. Sequence: list, tuple, range
1. Mapping: dict
1. Set: set, frozenset
1. Boolean: bool
1. Binary: bytes(binary), bytearray(array of binary nums)
1. None: NoneType

In [17]:
# Variables

a = "username"
b = 123

print(a, b)

username 123

### id()    - used to verify the identity of any variable
### type()  - used to identify the type of the variable

In [19]:
print(type(a))
c = 'a'
print(type(c))
c = 122342342222234.3
print(type(c))

<class 'str'>
<class 'str'>
<class 'float'>

In [20]:
c = 123
print(id(c))
c = 12.3
print(id(c))
df = 123
print(id(df))
df = "ad"
print(id(df))

140731084882664
2010381768240
140731084882664
2010328734032

In [26]:
t = "ad"
print(id(t))

1575430227024

In [45]:
# Data

# a = "str"   # str
# b = "str"
# a = 12    # int
# a = 12.5    # float
# a = 1-11j   # complex
# a = True    # False -> bool
# a = b'\x01'  # bytes
a = None    # NoneType

print(id(a), '-> ', type(a), '-> ', a)
# print(id(b), '-> ', type(b), '-> ', b)

140712297449504 ->  <class 'NoneType'> ->  None

## Operators
---
- Arithmetic operators (+, -, *, /, %, **, //)
- print(2 ** 3) # Exponentiation
- print(16 // 3) # floor division
- Assignment operators
- Comparison operators
- Logical operators -> and, or, not
- Identity operators -> is, is not
- Membership operators -> in, not in
- Bitwise operators

In [48]:
print(12 / 5)
print(12 // 5)

2.4
2

In [51]:
print(2 * 4)
print(2 ** 4)

8
16

In [59]:
age = 230

print(not (age > 0 and age <= 100))
print(age < 0 or age >= 100)
print(not False)

True
True
True

# Scan Data

- input() - input fn is used to scan data from the user (default input type is str)
```python
syntax:
    var = input("prompt to user")   # type is str
```

In [64]:
age = int(input("Enter your age: "))
print(age, type(age))

2 <class 'int'>